@font-face {
    font-family: roboto-light;
    src: url(font/Roboto-Light.ttf);
}

/*body {
    background-color: #19BCFF !important;
    color: #ffffff !important;
}*/

* {
    overflow-y: scroll;
    font-family: roboto-light;
}

::-webkit-scrollbar {
    display: none;
}

#login, #loggedin {
    display: none;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

.content {
    background :url(../img/connexion/fond.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
}

.bar{
    height: 11%;
}

.bar-tab .tab-item-one{
    display: table-cell;
    width: 1%;
    color: white;
    text-align: center;
    vertical-align: middle;
    background: #212121;
    font-weight: bold;
}

.bar-tab .tab-item-two{
    display: table-cell;
    width: 1%;
    color: black;
    text-align: center;
    vertical-align: middle;
    background: #f1c431;
    font-weight: bold;
}

#bar-tab {
    height: 11%;
}

#logo-header {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#menu {
    margin: auto;
    width: 100%;
    text-align: center;
}

#artists {
    text-align: center;
}

.container-artist {
    margin: auto;
    width: 100%;
}

.on {
    background: lightgray;
}

.mood-with-slider {
    display: inline-table;;
}

.emoji-select, .emoji-mood-select {
    cursor: pointer;
    border-radius: 10px;
    margin: 3px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    padding: 1px;
    margin-bottom: 10px;
}

.emoji-artist {
    display: inline-block;
}

#selectMood {
    text-align: center;
}

#slider .slider-selection {
    background: #BABABA;
}

.slider {
    background-color: #ffffff;
    height: 150px !important;
}

.slider-mood {
    display: none;
}

.visible {
    display: inline-block;
}

#artistName {
    width: 65%;
}

#button-addArtistPref {
    font-size: 27px;
    font-weight: bold;
    margin-left: 10px;
}

.name_artist {
    display: inline-block;
}

.img-artist {
    display: block;
    margin: auto;
}

.button-removeArtistPref {
    width: 20px;
    margin: auto;
    font-size: 27px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 20px;
}