@font-face {
    font-family: roboto-light;
    src: url(font/Roboto-Light.ttf);
}

/*body {
    background-color: #19BCFF !important;
    color: #ffffff !important;
}*/

* {
    overflow-y: scroll;
    font-family: roboto-light;
}

::-webkit-scrollbar {
    display: none;
}
/*
#login, #loggedin {
    display: none;
}
*/
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}

.content {
    background :url(../img/connexion/fond.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
}

.bar{
    height: 11%;
}

.bar-tab .tab-item-one{
    display: table-cell;
    width: 1%;
    color: white;
    text-align: center;
    vertical-align: middle;
    background: #212121;
    font-weight: bold;
}

.bar-tab .tab-item-two{
    display: table-cell;
    width: 1%;
    color: black;
    text-align: center;
    vertical-align: middle;
    background: #f1c431;
    font-weight: bold;
}

#bar-tab {
    height: 11%;
}

#logo-header {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 450px) {
    #logo-header {
        display: block;
        width: 400px;
        margin: auto;
    }
}

#menu {
    margin: auto;
    width: 100%;
    text-align: center;
}

#artists {
    text-align: center;
}

.container-artist {
    margin: auto;
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .container-artist {
        width: 24%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 990px) {
    .container-artist {
        width: 30%;
    }
}

@media screen and (max-width: 990px) and (min-width: 650px) {
    .container-artist {
        width: 40%;
    }
}

.on {
    background: lightgray;
}

.mood-with-slider {
    display: inline-table;;
}

.emoji-select, .emoji-mood-select {
    cursor: pointer;
    border-radius: 10px;
    margin: 3px;
    width: 30px;
    font-size: 20px;
    text-align: center;
    padding: 1px;
    margin-bottom: 10px;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
}

.emoji-artist {
    display: inline-block;
}

#selectMood {
    text-align: center;
}

#slider .slider-selection {
    background: #BABABA;
}

.slider {
    background-color: #ffffff;
    height: 150px !important;
}

.slider-mood {
    display: inline-block;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.visible {
    opacity: 1;
}

#button-addArtistPref {
    font-size: 27px;
    font-weight: bold;
    margin-left: 30px;
    width: 30px;
    margin-bottom: 60px;
}

.processRotate {
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    } to {
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
    } to {
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
        transform: rotate(360deg);
    }
}


#button-addArtistPref:hover {
    cursor: pointer;
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

#artistName {
    width: 55%;
    margin-top: 15px;
    padding-bottom: 0px !important;
}

hr {
    margin-top: 0px !important;
}

.name_artist {
    display: inline-block;
}

.img-artist {
    display: block;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin-top: 10px;
}

.emoji-bar {
    margin-top: 20px;
}

.button-removeArtistPref {
    width: 20px;
    margin: auto;
    font-size: 27px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: -10px;
    margin-left: 20px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    background: #648f00;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid white;
}

.dot-full {
    background: #ffffff;
}

#bouton-creer-playlist {
    background-image: url('../img/create_playlist_button.png');
    background-size: 100%;
    width: 250px;
    height: 44px;
    border-radius: 50px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.processReduce {
    -webkit-animation: reduce 1s ease forwards;
    animation: reduce 1s ease forwards;
    background-image: none !important;
    background: #648f00 ;
}

@keyframes reduce {
    from {
        width: 250px;
    } to {
        width: 45px;
    }
}

#mood-select {
    margin-top: 3%;
}

#goMoodEvalFinArtistes {
    margin: 0;
    display: inline-block;
    text-align: center;
    width: 50%;
    margin-bottom: 50px;
    margin-top: 20px;
    left: 90px;
}

.emoji-demo {
    width: 100%;
    margin: auto;
    font-size: 20px;
}

.label {
    color: green;
    letter-spacing: 1px;
    padding: 0;
    font-variant: small-caps;
    font-size: 65%;
}

.container-emoji-demo {
    display: inline-block;width: 15%;
}

@media screen and (min-width: 500px) {
    .container-emoji-demo {
        width: 60px;
    }
}

h3 {
    font-size: 20px;
}

h4 {
    margin-bottom: 0px;
    margin-top: 10px;
}

#nom-playlist {
    width: 170px;
    display: block;
    margin: auto;
    height: 30px;
}