#logo {
    padding-top: 10%;
    padding-bottom: 10%;
    width: 50%;
    margin: auto;
}

#titre{
    color: white;
    text-align: -webkit-center;
    font-weight: bold;
    font-size: 220%;
    margin: auto;
    line-height: 40px;
    font-variant: small-caps;
    letter-spacing: 2px;
    text-align: center;
}

#description{
    color: white;
    text-align: -webkit-center;
    font-size: 111%;
    padding: 7%;
    line-height: 25px;
    letter-spacing: 1px;
}

#bar-tab {
    height: 11%;
}

#logoSocial {
    padding-top: 8px;
}

#button_login {
    background: #4767ab;
    width: 50%;
}

#spotify-logo {
    width: 40px;
    height: auto;
    display: inline-block;
}

#spotify-button {
    background: #000000;
    padding: 0;
    margin: 0;
    width: 100%;
    display: block;
}

.ligne{
    padding-bottom: 5%;
}

#valider-connexion-email {
    color: #000000;
    background-color: #f1c431;
    border: 0.5px solid #000000;
    height: 40px;
}

#connexion-email {
    padding-top: 10%;
}